<h1>Sign up</h1>
<%= form_with model: @user, url: registration_path, class: "" do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <% if form.object.errors[:email].any? %>
      <% form.object.errors.where(:email).each do |error| %>
        <div class="error-message">
          <%= error.full_message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <% if form.object.errors[:password].any? %>
      <% form.object.errors.where(:password).each do |error| %>
        <div class="error-message">
          <%= error.full_message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <% if form.object.errors[:password_confirmation].any? %>
      <% form.object.errors.where(:password_confirmation).each do |error| %>
        <div class="error-message">
          <%= error.full_message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
