<h1>Update password</h1>
<%= form_with model: current_user, url: password_path, class: "" do |form| %>
  <div>
    <%= form.label :password_challenge, "Current password" %>
    <%= form.password_field :password_challenge %>
    <% if form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form.label :password, "New password" %>
    <%= form.password_field :password %>
    <div>
      <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :password_confirmation, "Confirm new password" %>
    <%= form.password_field :password_confirmation %>
    <div>
      <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit "Update password" %>
  </div>
<% end %>
