<div>POSTS</div>
<div class="mb-4">
  <%= form_with(url: posts_path, method: :get, local: true, class: "flex gap-2") do %>
    <%= label_tag :post_type, "Filter by post type:" %>
    <%= select_tag :post_type, options_for_select([['All', ''], ['Offer', 'offer'], ['Request', 'request']], params[:post_type]), class: " border rounded" %>
    <%= submit_tag 'Filter', class: "bg-indigo-600 text-white p-2 rounded" %>
  <% end %>
</div>
<div class="flex flex-col gap-2">
  <% @posts.each_with_index do |post, index| %>
    <a class="flex min-w-0 gap-x-4" href="/posts/<%= post.id %>" data-turbo-prefetch="false">
      <div class="min-w-0 flex-auto">
        <p class="text-lg font-semibold leading-6 text-gray-700"><%= post.author %></p>
        <p class="mt-1 truncate text-md leading-5 text-gray-500"><%= post.body %></p>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= post.created_at.strftime("%d/%m/%y %H:%M") %></p>
      </div>
    </a>
    <div 
      data-controller="leaflet--posts-index"
      data-leaflet--posts-index-target="mapDiv"
      data-latitude="<%= post.latitude %>"
      data-longitude="<%= post.longitude %>"
      data-poster-username="<%= post.author %>"
      id="mapDiv-<%= post.id %>"
      class="w-48 h-48 rounded">
    </div>
  <% end %>
</div>
